<div class="relative ml-64 p-2 pt-8 mt-8 w-3/5">
  <div class="block w-full">


  <div class="border border-l-0 max-w-screen-sm">
    <div *ngFor="let q of questions; let isLast = last"
         class="min-w-full flex p-3 h-1/3"
         [ngClass]="{'border-b-1': !isLast}">
      <div class="float-left mr-2 m-auto">
        <div class="text-sm">{{q.votes}} votes</div>
        <div class="text-sm text-gray-500">{{q.answerCount}} answers</div>
      </div>
      <div class="ml-2 w-10/12 float-right">
        <div (click)="redirectToQuestion(q.id)" class="text-blue-500 text-lg hover:text-blue-600 w-fit cursor-pointer transition">
          {{q.title}}
        </div>
        <div class="text-gray-600 text-xs line-clamp-2 break-words mb-1">
          {{q.content}}
        </div>
        <div class="float-left mt-1">
          <p class="bg-gray-100 inline-block mr-2 max-w-fit text-xs p-1 mb-2 font-bold rounded-md" *ngFor="let t of q.tags">{{ t.name }}
          </p>
        </div>
        <div class="float-right text-xs mr-1 mt-2">
          <span class="text-blue-500 hover:underline cursor-pointer">{{q.posterName}}</span> asked {{api.calculatePostedAt(q.postedAt)}}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
