<div class='relative flex justify-center p-2 pt-8 mt-8 top-32'>
  <div
    class='relative  p-4 bg-white dark:bg-gray-900 dark:border-gray-600 border border-gray-200 rounded-lg shadow sm:p-6 md:p-8'>
    <form class='w-full max-w-sm m-auto' [formGroup]="signupForm" (ngSubmit)="onSubmit($event)">
      <h5 class='text-xl font-medium text-gray-900 dark:text-gray-100'>Register today to join our community!</h5>
      <br/>
      <div class='flex flex-col gap-6'>
        <label for="username" class='block text-sm font-medium text-gray-900 dark:text-gray-100  -mb-4'>
          Your username
        </label>
        <input
          formControlName="username"
          id="username"
          type='text'
          required
          placeholder='username'
          class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'
        />
        <label for="email" class='block  text-sm font-medium dark:text-gray-100  text-gray-900  -mb-4'>
          Your email
        </label>
        <input
          formControlName="email"
          id="email"
          placeholder='name@company.com'
          class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'
          type='email'
          required
        />
        <label for="password" class='block text-sm font-medium dark:text-gray-100  text-gray-900  -mb-4'>
          Your password
        </label>
        <input
          formControlName="password"
          required
          id="password"
          type='password'
          placeholder='********'
          class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white'
        />
      </div>
      <button
        class='w-full mt-6 bg-blue-500 hover:bg-blue-600 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-400 disabled:hover:bg-gray-400'
        [disabled]="signupForm.invalid || runningActions.onSubmit"
      >
        Sign up
      </button>
    </form>
    <div class='mt-2'>
          <span class='text-sm font-medium mt-2 text-gray-500 '>
              Already have an account?
          </span>
      <p (click)="nav.redirectToLogin()"
         class='text-blue-700 text-sm hover:underline dark:text-blue-500 cursor-pointer'>
        Login!
      </p>
    </div>
  </div>
</div>
