<div class="fixed w-64 mt-8 ml-2 float-left mr-4 h-screen border-gray-300 border-r-1">
  <div class="float-right w-1/2">
  <div (click)="goHome()" [ngClass]="{'bg-gray-200': onPage('/'), 'hover:bg-gray-100': !onPage('/')}" class="bg-gray-200 rounded-l-md p-1 mt-4 hover:bg-gray-100 cursor-pointer" >
    <i class="fa-solid fa-house text-sm mr-1"></i><span class="text-sm text-gray-600">Home</span>
  </div>
  <div (click)="goHome()" [ngClass]="{'bg-gray-200': onPage('question'), 'hover:bg-gray-100': !onPage('question')}" class=" rounded-l-md p-1 hover:bg-gray-100 cursor-pointer">
    <i class="fa-solid fa-magnifying-glass mr-1"></i><span class="text-sm text-gray-600">Questions</span>
  </div>
    <div (click)="goTags()" [ngClass]="{'bg-gray-200': onPage('tags'), 'hover:bg-gray-100': !onPage('tags')}" class=" rounded-l-md p-1 cursor-pointer">
      <i class="fa-solid fa-tag mr-1"></i><span class="text-sm text-gray-600">Tags</span>
    </div>
  </div>
</div>
