<div class="relative ml-64 p-4 pt-16 mt-4 w-3/5">
  <h2 class="ml-8 text-2xl">{{ question.title }}</h2>
  <div class="text-sm ml-8 mt-2">
    <span class="text-blue-500 hover:underline cursor-pointer">{{ question.posterName }} </span><span
    class="font-bold">{{ question.posterTrueRep }}</span>
    <span> asked {{ api.calculatePostedAt(question.postedAt) }}</span>

  </div>
  <app-bounty *ngIf="owner && question.bounty === null" [question]="question"></app-bounty>
  <hr class="mt-8">
  <div class="flex mt-8 ml-8">
    <div class="w-12 flex flex-col items-center">
      <button
        [ngClass]="{'bg-blue-500 text-white': isVote(VoteType.UPVOTE), 'hover:bg-orange-200': !isVote(VoteType.UPVOTE)}"
        (click)="upvote()" class="border rounded-3xl p-2 px-3.5 hover:bg-orange-200 cursor-pointer">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
      <p class="font-bold text-xl mt-2 mb-2">{{ question.votes }}
      <p>
        <button
          [ngClass]="{'bg-blue-500 text-white': isVote(VoteType.DOWNVOTE), 'hover:bg-orange-200': !isVote(VoteType.DOWNVOTE)}"
          (click)="downvote()" class="border rounded-3xl p-2 px-3.5 mb-4 cursor-pointer">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
    </div>
    <div class="ml-12 w-full">
      <app-bounty-awareness *ngIf="question.bounty !== null" [bounty]="question.bounty"></app-bounty-awareness>
      <div [innerHTML]="content"></div>

      <div class="mt-1">
        <p class="bg-gray-100 text-gray-800 inline-block mr-2 max-w-fit text-xs px-1.5 py-1 mb-2 font-bold rounded-md"
           *ngFor="let t of question.tags">{{ t.name }}
        </p>
      </div>
    </div>
  </div>
  <h2 class="text-lg mb-4 ml-9">{{ question.answers.length }} Answer{{ question.answers.length > 1 ? 's' : '' }}</h2>
  <div *ngFor="let answer of question.answers">
    <app-answer [answer]="answer" [userVotes]="userVotes" [owner]="owner" [question]="question"
                (questionChange)="onQuestionChange($event)">>
    </app-answer>
  </div>
  <div class=" ml-8">
    <h2 class="text-xl mt-4">Your Answer</h2>
    <app-markdown-preview [markdownInput]="answerForm.value.content"></app-markdown-preview>
    <form [formGroup]="answerForm" (ngSubmit)="onSubmit($event)">
      <textarea
        formControlName="content"
        id="content"

        class='bg-gray-50 mt-4 border min-h-48 border-gray-300  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400 '
        required
      ></textarea>
      <button (submit)="onSubmit($event)" type="submit">Post</button>
      <p *ngIf="showRequired" class="text-xs text-red-500">You cannot submit an empty answer.</p>
    </form>
  </div>
</div>
