<div class="min-h-40 ml-8 flex">
  <div class="w-12 flex flex-col items-center">
    <button [ngClass]="{'bg-blue-500 text-white': isVote(VoteType.UPVOTE), 'hover:bg-orange-200': !isVote(VoteType.UPVOTE)}" (click)="upvote()" class="border rounded-3xl p-2 px-3.5 hover:bg-orange-200">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
    <p class="font-bold text-xl mt-2 mb-2">{{displayedVotes}}<p>
    <button [ngClass]="{'bg-blue-500 text-white': isVote(VoteType.DOWNVOTE), 'hover:bg-orange-200': !isVote(VoteType.DOWNVOTE)}" (click)="downvote()" class="border rounded-3xl p-2 px-3.5 ">
      <i class="fa-solid fa-arrow-down"></i>
    </button>
  </div>
  <div class="ml-12">{{answer.content}}</div>
</div>
<hr class="mt-3 w-97% m-auto">
