<div class="ml-64 p-2 pt-8 mt-8 pr-8"> <!-- Added pr-8 for extra space on the right -->
  <div class="max-w-screen-xl ml-8">
    <div class="w-2/3 mb-4">
      <h2 class="text-2xl mb-4">Tags</h2>
      <p class="text-sm leading-5">
        A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags
        makes it easier for others to find and answer your question.
      </p>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let t of (tags | async)"
           class="bg-white p-4 border border-gray-300 rounded-md shadow-sm flex flex-col justify-between h-full">
        <div>
          <p
            (click)="redirectToTag(t.id)"
            class="bg-gray-100 text-xs cursor-pointer text-gray-700 hover:bg-gray-200 hover:text-black transition font-bold rounded-md px-2 py-1 inline-block mb-2">
            {{ t.name }}
          </p>
          <p class="text-xs line-clamp-4 text-gray-700 mb-3">
            {{ t.description }}
          </p>
        </div>
        <div class="text-gray-500 text-xs mt-2">
          <span class="block">{{ t.questionsCount }} questions</span>
          <span class="block">
            {{ t.questionsCountToday }} asked today<br>{{ t.questionsCountLastSevenDays }} this week
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
