<div class="ml-64 p-2 mt-8 w-3/5">
  <h2 class="ml-8 text-2xl font-extrabold mt-8 dark:text-gray-100">[{{ tag.name }}] </h2>
  <p class="ml-8 mt-2 w-2/3 dark:text-gray-100">{{ tag.description }}</p>
  <div class="block w-full">
    <div class="max-w-screen-md">
      <div>
        <div class="flex justify-between items-center mt-4 mb-4 mr-8 ml-8">
          <span class="text-lg mt-2 dark:text-gray-100">
            {{ questionsCount }} question{{ questionsCount == 1 ? '' : 's' }}
            <span *ngIf="(selected | async)===QuestionFilter.Bountied"> with bounties</span>
            <span *ngIf="(selected | async)===QuestionFilter.Unanswered"> with no answer</span>
    </span>
          <div
            class="flex border-1 p-1 text-xs rounded-md border-gray-300 dark:border-gray-600 text-slate-700 dark:text-slate-100">
            <span
              (click)="select(QuestionFilter.Newest)"
              [ngClass]="{'bg-gray-200 dark:bg-gray-700 font-bold': (selected | async)===QuestionFilter.Newest, 'hover:bg-gray-100 hover:dark:bg-gray-800': (selected | async)!==QuestionFilter.Newest}"
              class="p-2 rounded-md transition cursor-pointer">Newest</span>
            <span
              (click)="select(QuestionFilter.Unanswered)"
              [ngClass]="{'bg-gray-200 dark:bg-gray-700 font-bold': (selected | async)===QuestionFilter.Unanswered, 'hover:bg-gray-100 hover:dark:bg-gray-800': (selected | async)!==QuestionFilter.Unanswered}"
              class="p-2  rounded-md hover:bg-gray-100 cursor-pointer transition">Unanswered</span>
            <span
              (click)="select(QuestionFilter.Bountied)"
              [ngClass]="{'bg-gray-200 dark:bg-gray-700': (selected | async)===QuestionFilter.Bountied, 'hover:bg-gray-100 hover:dark:bg-gray-800': (selected | async)!==QuestionFilter.Bountied}"
              class="p-2 rounded-md hover:bg-gray-100 cursor-pointer transition">
              <span [ngClass]="{'font-bold': (selected | async)===QuestionFilter.Bountied}">Bountied</span>
              <span class="bg-navy text-white px-1 py-0.5 rounded-md ml-1">{{ bountyCount }}</span>
            </span>
          </div>
        </div>
      </div>

      <div class="border-b-1 border-t-1 dark:border-gray-600">
        <app-questions [_questions]="questions"></app-questions>
      </div>
    </div>
  </div>
</div>
